---
layout: default
title: Platopes
---
<div class="container">
  <div class="row">
    <div class="col-3">
      <img id='site-logo' class='img-fluid' src="/assets/images/platopes.png" alt="Uh oh, icon is missing..."/>
    </div>
    <!-- Container for mobile display -->
    <div class="d-block d-md-none">

    </div>
    <!-- Container for laptop/desktop display -->
    <div class="d-none d-md-flex">
      <div class="col-6">
        <p> Welcome!</p>
        <p> Platopes is the online hub of Kevin Topel's philosophical ramblings and other informal lighthearted musings.</p>
        <br>
        <p class="tiny-text text-muted">Recent Posts</p>
        <ul id='post-list'>
          {% for post in site.posts limit:5 %}
            <li>
              <h4><a href="{{ post.url }}" class="{{ post.category | slugify }} post-link">{{ post.title }}</a></h4>
            </li>
          {% endfor %}
        </ul>
        <p class="tiny-text text-muted">by category: </p>
        {% for category in site.categories %}
          {% capture cat_name %}{{ category | first }}{% endcapture %}
          <button class="btn btn-sm border-none w-100 text-left" data-toggle="collapse" aria-expanded="false" data-target="#{{ cat_name | slugify }}-list" aria-controls="{{ cat_name | slugify }}-list"> {{ cat_name }}</button>
          <div id="{{ cat_name | slugify }}-list" class="dropdown-cat-list collapse">
            <ul>
              {% for post in site.categories[cat_name] %}
                <li><a href={{ post.url}} >{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
      </div>
     <div class="col-3">
       <p class="tiny-text text-muted">by category: </p>
       {% for category in site.categories %}
         {% capture cat_name %}{{ category | first }}{% endcapture %}
         <button class="btn btn-sm border-none w-100 text-left" data-toggle="collapse" aria-expanded="false" data-target="#{{ cat_name | slugify }}-list" aria-controls="{{ cat_name | slugify }}-list"> {{ cat_name }}</button>
         <div id="{{ cat_name | slugify }}-list" class="dropdown-cat-list collapse">
           <ul>
             {% for post in site.categories[cat_name] %}
               <li class="block"><a href={{ post.url}} >{{ post.title }}</a></li>
             {% endfor %}
           </ul>
         </div>
       {% endfor %}
     </div>
  </div>
</div>

<!-- <p> Welcome!</p>
<p> Platopes is the online hub of Kevin Topel's philosophical ramblings and other informal lighthearted musings.</p>
<br>
<p class="tiny-text text-muted">Recent Posts</p>
<ul id='post-list'>
  {% for post in site.posts limit:5 %}
    <li>
      <h4><a href="{{ post.url }}" class="{{ post.category | slugify }} post-link">{{ post.title }}</a></h4>
    </li>
  {% endfor %}
</ul> -->
