---
layout: default
title: home
---
<!--
      large screen display
-->
<!-- <div class="d-none d-md-flex">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>large display</h1>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div> -->

<!--
      medium display
-->

<!-- image row -->
<div class="container-fluid d-none d-md-block">
  <div class="row">
    <!-- image col -->
    <div class="col-4">
      <div class="card">
        <img id='site-icon' class='border-0 img-fluid img-thumbnail' src="/assets/images/platopes.png" alt="Uh oh, image is missing..."/>

      <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="tiny-text"> Platopes is the online hub of Kevin Topel's philosophical ramblings and other informal lighthearted musings.</p>
      </div>
    </div>
      <!-- thumbnail picture for homepage -->
      <!-- <img id='site-icon' class='rounded' src="/assets/images/platopes.png" alt="Uh oh, image is missing..."/> -->
    </div>

    <div class="col-5 text-center">
      <p class="text-muted">Recent Posts</p>
        <div class="overflow-auto d-block h-50 border rounded">
          {% for post in site.posts limit:5 %}
            <div class="card d-block border-bottom">
              <div class="card-body">
                <h4 class="card-title smaller-text d-block w-100"><a href="{{ post.url }}" class="{{ post.category | slugify }} post-link">{{ post.title }}</a></h4>
                <h6 class="card-subtitle tiny-text text-muted"> {{post.category}} / {{post.date | date: "%b %d, %Y"}}</h6>
                <p> {{ post.excerpt | truncate: 100 }}</p>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    <div class="col-3 overflow-auto">
          <p class="tiny-text text-muted">by category: </p>
          {% for category in site.categories %}
            {% capture cat_name %}{{ category | first }}{% endcapture %}
              <h5 class="btn btn-sm btn-outline-secondary d-block tiny-text" data-toggle="collapse" aria-expanded="false" data-target="#{{ cat_name | slugify }}-list" aria-controls="{{ cat_name | slugify }}-list"> {{ cat_name }}</h5>
              <div id="{{ cat_name | slugify }}-list" class="post-list text-left collapse">
                  {% for post in site.categories[cat_name] %}
                    <a class="text-left d-block" href={{ post.url}} >{{ post.title }}</a>
                  {% endfor %}
              </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>


<!--
      small display
-->

<!-- main container -->
<div class="container d-block d-md-none">

  <!-- site title -->
  <div class="row">
    <div class="col text-center">
      <h1>Platopes</h1>
    </div>
  </div>

  <!-- image row -->
  <div class="row">
    <!-- image col -->
    <div class="col">
      <!-- thumbnail picture for homepage -->
      <img id='site-icon' class='img-fluid rounded' src="/assets/images/platopes.png" alt="Uh oh, image is missing..."/>
    </div>
    <!-- welcome greeting col -->
    <div class="col">
      <!-- welcome greeting text -->
      <p> Welcome!</p>
      <p class="tiny-text"> Platopes is the online hub of Kevin Topel's philosophical ramblings and other informal lighthearted musings.</p>
    </div>
  </div>

  <!-- recent post list row -->
  <div class="row">
    <!-- recent post list col -->
    <div class="col text-center">
      <!-- recent post list header text -->
      <p class="tiny-text text-muted">Recent Posts</p>
      <!-- iterate and display five most recent posts -->
      <ul id="post-list" class="">
        {% for post in site.posts limit:5 %}
          <li>
            <h5 class="text-left"><a class="text-black" href="{{ post.url }}" class="{{ post.category | slugify }} post-link">{{ post.title }}</a></h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- see all posts link -->
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-lg btn-outline-secondary"  href="/archives">See all posts</a>
    </div>
  </div>
</div>
