---
---
html,body
{
  font-family: 'Courier Prime', monospace;
  height:100%;
}
p
{
  margin: 15px;
}
// .flex-fill
// {
//     flex:1;
// }
.tiny-text
{
  font-size: 75%;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
{
    outline:0px !important;
    box-shadow: none !important;
}
.btn:focus,
.btn:active
{
    box-shadow: none !important;
    outline: none !important;
}
.strike-through
{
  text-decoration: line-through;
}
.side-bar-ul
{
  // list-style-type: none;
}
.side-bar-li
{
  text-decoration: none;
}
#see-posts-btn
{
  position: absolute;
  bottom: 15px;
  right: 15px;

}
// .full-page
// {
//   height: 100%;
// }
#self_portrait
{
  width: 25rem;
  height: auto;
}
#side-bar
{
  position: relative;
  float: left;
}
#post-list
{
  list-style-type: none;
  text-decoration: none;
}
