---
---
html,body
{
  font-family: 'Courier Prime', monospace;
  margin: 0px;
  padding: 0px;
  height:100%;
}
.post-content p {
  margin-bottom: 25px;
}
.smaller-text
{
  font-size: 85%;
}
.tiny-text
{
  font-size: 75%;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
{
    outline:0px !important;
    box-shadow: none !important;
}
.btn:focus,
.btn:active
{
    box-shadow: none !important;
    outline: none !important;
}
ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color:  black !important;
}

ul.nav li.active a {
    color: black !important;
}
.strike-through
{
  text-decoration: line-through;
}
#post-list
{
  list-style-type: none;
  text-decoration: none;
}
#site-icon
{
  width: 300px;
  height: auto;
}
.archive-post
{
  text-decoration: none;
  list-style-type: none;
}
.card
{
  border: none;
}
.p {

}
footer {

  bottom: 0;
}
.blockquote {
  padding: .5rem 1rem;
  border-left: .25rem solid #eceeef;
}
