---
---
body
{
  font-family: 'Courier Prime', monospace;
}
p
{
  margin: 15px;
}
.tiny-text
{
  font-size: 75%;
}
#top-nav-ul
{
  list-style-type: none;
  text-decoration: none;
}
#top-nav-ul > li
{
  display: inline-block;
  margin: 25px;
  margin-left: 20rem;
}
#site-logo
{
  height: 15rem;
  width: 15rem;
  float: left;
  top: 0;
  position: relative;
}
#side-bar
{
  position: relative;
  float: left;
}
#post-list
{
  list-style-type: none;
  text-decoration: none;
}
