---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ page.title }}</h1>
      <p class="text-muted overflow-auto p-1">{{ page.date | date_to_string }} / {{ page.category }}</p>
      {{ content }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
        <div id="wpac-comment"></div>
      {% if page.previous == nil %}
        <a class='text-muted' href="{{ page.previous.url }}"></a>
      {% else %}
        <a href="{{ page.previous.url }}">previous</a>
      {% endif %}
      <a href="/">home</a>
      {% if page.next == nil %}
        <a class="text-muted " href="{{ page.next.url }}"></a>
      {% else %}
        <a href="{{ page.next.url }}">next</a>
      {% endif %}

    </div>
  </div>

<script type="text/javascript">
wpac_init = window.wpac_init || [];
wpac_init.push({widget: 'Comment', id: 28543});
(function() {
    if ('WIDGETPACK_LOADED' in window) return;
    WIDGETPACK_LOADED = true;
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = 'https://embed.widgetpack.com/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
<a href="https://widgetpack.com" class="wpac-cr">Comments System WIDGET PACK</a>
</div>
